.footer_wrapper {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  background-color: hsl(233, 26%, 24%);
  padding-bottom: 1em;
}

.footer_icons {
  display: flex;
  gap: 15px;
  margin-bottom: 1em;
}
.footer_company_name,
.footer_menu > p {
  color: hsl(0, 0%, 100%);
}
.logo {
  padding: 2em;
}
