.menu_list_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_list_wrapper > ul {
  list-style: none;
  text-align: center;
}
.menu_list_wrapper > ul > li {
  padding: 1em 0;
}

@media (min-width: 700px) {
  .menu_list_wrapper > ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}
